body{
    background-color: darkgrey;
}
.Header-container {
    background-image: url('/PeaceOfHeavenWebPage/Img/Dogs-In-Field.jpg');
    position: relative; /* Make it a reference for absolute positioning */
    width: 100%;
    height: 40vh; /* 100% of viewport height */
    background-size: cover; /* Scale the image to cover the container */
    color: white; /* Text color on top of the image */
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-position: center;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 35px;
}
.Our-Story-Container {
    display: flex;
    align-items:flex-start;/* Vertically align items */
    margin: 0 auto; /* Center the container horizontally */
    padding: 10px;
    background-color: white;
}

.Owners-img {
    max-width: 50%;
    width: 50%;
    height: 15%;
    margin-right: 10px;
}

.Our-Story-Description{
    flex: 1; /* Allow the description to take up the remaining space */
    flex-direction: column;
    align-items: flex-start; /* Align items to the start (left) of the column */
}

.Our-Story-Description h2{
    font-size: 60px;
    text-align: center;
    margin-bottom: 10px;
}

.Our-Story-Description p{
    font-size: 35px;
    line-height: 1.5;
    margin-left:15px;
}