.content {
    margin-left: 12%; /* Adjust this value to create space beside the sidebar */
    padding: 20px;
    max-width: 800px;
    margin: 20px auto;
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }

  body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
}

table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
}

th, td {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: left;
}

th {
  background-color: #39A7FF;
  color: white;
}

tr:nth-child(even) {
  background-color: #f2f2f2;
}

tr:hover {
  background-color: #ddd;
}

table a {
  text-decoration: none; /* Remove text decoration */
  color: #0074D9; /* Set the color to a preferred value */
}

table a:hover {
  text-decoration: underline; /* Add underline on hover */
}

/* Add the following styles for the delete dog button */
div button {
  background-color: #ff3333; /* Set the background color to a preferred value */
  color: #fff; /* Set the text color to white or a contrasting color */
  padding: 10px 20px;
  border: none;
  border-radius: 3px;
  cursor: pointer;
}

div button:hover {
  background-color: #cc0000; /* Change background color on hover */
}