body {
    font-family: 'Arial', sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
}

.content {
    margin-left: 13%;
}

form {
    max-width: 60%;
    margin: 20px auto;
    background-color: #fff;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

fieldset {
    border: 1px solid #3498db;
    border-radius: 5px;
    padding: 10px;
    margin-bottom: 20px;
}

legend {
    color: #3498db;
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 10px;
}

label {
    display: block;
    margin: 10px 0 5px;
}

.input-group {
    margin-bottom: 15px;
}

.input-group label {
    margin-bottom: 5px;
    display: inline-block;
}

.input-group input[type="radio"] {
    margin-right: 5px;
    display: inline-block;
}



.button-group {
    text-align: center;
    margin-top: 20px; /* Adjust as needed for spacing */
}

.button-group button {
    background-color: #3498db;
    color: #fff;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 4px;
}

.button-group button:hover {
    background-color: #2980b9;
}
