.content {
    margin-left: 13%;
}

  /* Style for the DogInfo-Form form with class .DogInfo-Form */
  .DogInfo-Form {
    max-width: 60%;
    margin: 20px auto;
    background-color: #fff;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  /* Style for fieldset within the DogInfo-Form form */
  .DogInfo-Form fieldset {
    border: 1px solid #3498db;
    border-radius: 5px;
    padding: 10px;
    margin-bottom: 20px;
  }
  
  /* Style for the legend element within the fieldset */
  .DogInfo-Form legend {
    color: #3498db;
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 10px;
  }
