body {
    font-family: 'Arial', sans-serif;
    background-color: #f4f4f4;
    margin: 0;
}

.content {
    margin-left: 12%;
    padding: 20px;
}

.KennelCreation-Form {
    text-align: left;
    margin: 0 auto;
    width: 80%;
    max-width: 50%;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f7f7f7;
}

.KennelCreation-Form fieldset {
    border: 2px solid #333;
    border-radius: 5px;
    padding: 10px;
    margin: 10px 0;
}

.KennelCreation-Form legend {
    font-weight: bold;
}

.KennelCreation-Form label {
    display: block;
    margin: 5px 0;
}

.KennelCreation-Form input,
.KennelCreation-Form select {
    width: 100%;
    padding: 10px;
    margin: 5px 0;
    border: 1px solid #ccc;
    border-radius: 3px;
}

.KennelCreation-Form input[type="submit"] {
    background-color: #0074D9;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 3px;
    cursor: pointer;
}

.KennelCreation-Form input[type="submit"]:hover {
    background-color: #0056b3;
}

.invalid_username {
    color: red;
    font-weight: bold;
}
