/* Add these styles to your existing CSS */

body {
    font-family: 'Arial', sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
}

.content {
    margin-left: 13%;
}

form{
    background-color: white;
}



fieldset {
    border: 1px solid #3498db;
    border-radius: 5px;
    padding: 10px;
    margin-bottom: 20px;
}

legend {
    color: #3498db;
    font-size: 20px;
    font-weight: bold;
}

label {
    display: block;
    margin: 10px 0 5px;
}

input[type="text"],
input[type="tel"],
input[type="email"],
input[type="date"],
input[type="datetime-local"],
textarea {
    width: calc(100% - 16px);
    padding: 8px;
    margin: 5px 0 15px;
    box-sizing: border-box;
}

input[type="checkbox"] {
    margin-right: 5px;
}

button {
    background-color: #3498db;
    color: #fff;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 4px;
    text-align: center;
}

button:hover {
    background-color: #2980b9;
}
