/*Sets the List Horizontal*/
/* Reset some default styles */
body, ul, li {
    margin: 0;
    padding: 0;
    list-style: none;
}

/* Style for the navigation bar */
#navbar {
    background-color: #E0F4FF; /* Dark gray background */
    display: flex; /* Use flexbox to evenly space items */
    justify-content: space-between; /* Distribute items evenly horizontally */
    align-items: center;
}

#navbar a {
    float: left;
    display: block;
    color: black;
    text-align: center;
    padding: 20px 16px;
    text-decoration: none;
    font-size: larger;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

#navbar a:hover {
    background-color: #39A7FF; /* Light gray background on hover */
    color: #FFEED9;
}

/* Style for the logo */
#logo {
    margin-left: 5px;
}

